  body {
  padding: 50px;
}

nav {
  display: inline-block;
}

// #search-box {
//   margin-top: 15px;
//   margin-right: 25px;
// }

#song-container {
  margin-top: 50px;
}

#addSong-btn {
  margin-top: 15px;
}

.right-side {
  position: relative;
  left: 40%;
  // display: block;
}

.left-side {
  position: fixed;
  // float: left;
}

#search-div {
  margin-bottom: 15px;
}

.select-box {
  margin-bottom: 15px;
}

#logout-btn {
  margin-bottom: 15px;
}

@media screen and (max-width: 820px) {
    .right-side {
      position: static;
      left: 0;
      margin-top: 360px;
    }
    .left-side {
      position: static;
    }
}

.css-form input.ng-invalid.ng-touched {
  background-color: #FA787E;
}

.css-form input.ng-valid.ng-touched {
  background-color: #78FA89;
}






