

<div class="container-fluid">

  <form novalidate class="form-inline css-form">
    <div class="row">
      <div class="col-md-12">
        <h3>Create New Account</h3>
      </div>
    </div>
    <div class="form-group">
      <label class="sr-only">Email address</label>
      <input type="email" class="form-control" ng-model="user.email" required placeholder="email">
    </div>
    <div class="form-group">
      <label class="sr-only">Password</label>
      <input type="password" class="form-control" ng-model="user.password" required placeholder="password">
    </div>
    <input type="submit" class="btn btn-success" ng-click="createUser(user)">
  </form>

  <form novalidate class="form-inline css-form">
    <div class="row">
      <div class="col-md-12">
        <h3>Login</h3>
      </div>
    </div>
    <div class="form-group">
      <label class="sr-only">Email address</label>
      <input type="email" class="form-control" ng-model="user.loginEmail" required placeholder="email">
    </div>
    <div class="form-group">
      <label class="sr-only">Password</label>
      <input type="password" class="form-control" ng-model="user.loginPassword" required placeholder="password">
    </div>
    <input type="submit" class="btn btn-success" ng-click="loginUser(user)" value="Login">
  </form>

  <div class="row">
    <div class="col-md-12">
      <h3>Or</h3>
    </div>
  </div>

  <section id="facebook">
    <div class="row">
      <div class="col-md-12"></div>
        <div>
          <button class="btn btn-lg btn-primary" ng-click="getAuth()">Login With Facebook</button>
        </div>
      </div>
    </div>
  </section>

</div>
