<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>music-ng</title>
    <link rel="stylesheet" type="text/css" href="lib/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="styles/main.css">

</head>

<body ng-app="MusicApp">

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid nav-div">
      <span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span>
      <li class="nav-li"><a href="#">Home</a></li>
      <li class="nav-li"><a href="songs.html">Add Music</a></li>
      <li class="nav-li"><a href="#">View Music</a></li>
      <li class="nav-li"><a href="#">Profile</a></li>
    </div>
  </nav>

  <div ng-view></div>

  <footer></footer>
<script src="lib/bower_components/angular/angular.min.js"></script>
<script src="lib/bower_components/angular-route/angular-route.js"></script>
<script src="lib/bower_components/angular-filter/dist/angular-filter.min.js"></script>
<script src="lib/bower_components/jquery/dist/jquery.min.js"></script>
<script src="app/app.js"></script>
<script src="app/factories/song-storage.js"></script>
<script src="app/filters/capitalize.js"></script>
<script src="app/filters/sort.js"></script>
<script src="app/controllers/songs.js"></script>
<script src="app/controllers/song-detail.js"></script>


</body>
</html>


<div class="container-fluid" ng-controller="SongsCtrl">  <!-- div that holds whold grid -->
    <div class="row">
      <div class="col-md-4">  <!--start of Album and Artist select boxes -->









  <!--       <div class="row">  
          <div class="col-sm-5">
            Artist:<select 
              ng-model="theSong"
              ng-options="value.artist for value in allSongs | unique: 'artist'">
              <options>--</options>
            </select>
          </div>  end of album select
          <div class="col-sm-2"></div>
          <div class="col-sm-5">
            Album:<select 
              ng-model="theSong"
              ng-options="value.album for value in allSongs | unique: 'album'">
              <options>--</options>
            </select>
          </div>  end of artist select
        </div>   end of select box group
        <div class="row">
          <div id="song-container">
            Song name:<input id="song-name" type="text" ng-model="newSong.name"/>
          </div>
          <div>
            Artist:<input id="artist-name" type="text" ng-model="newSong.artist"/>
          </div>
          <div>
            Album:<input id="album-name" type="text" ng-model="newSong.album"/>
          </div>
          <button ng-click="addSong()">Add Song</button>
        </div>  end of new song input div
      </div>  end of options box column
      
      <div class="col-md-1"></div>  end of spacer column
      <div class="col-md-7">

      </div>  end of songs display column
    </div>
  </div>  end of "container-fluid" div -->


